
  
<ion-menu contentId="main-content" class='menu'>
  <ion-header>
    <ion-toolbar>
      <ion-title slot="start" id="name">DAVI'S BURGUER</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon name="book-outline" slot="start" ></ion-icon>
        <ion-label routerLink="/cardapio" >Cardapio</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-icon name="ticket-outline" slot="start"></ion-icon>
        <ion-label routerLink="/cupoens" >Cupões</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-icon name="storefront-outline" slot="start"></ion-icon>
        <ion-label routerLink="/sobre-nos" >Sobre</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
  
  <ion-header id="main-content">
    <ion-toolbar id="header">

      <ion-row class="info-row" #hideheader>
        <ion-col  class="ion-padding-start">
          
            <img id="logo" src="../../../assets/icon/logo_quadrado.png" (click)="openPage()" style="background-color: white; border-radius: 20px;">
        </ion-col>
        <ion-col class="buttons">
          <ion-buttons class="login_btn" routerLink="/login">
            <ion-icon name="person-circle-outline" class="login_btn" slot="start"></ion-icon>
          </ion-buttons>
          <ion-buttons class="menu_btn">
            <ion-menu-button class="menu_btn"></ion-menu-button>
          </ion-buttons>
        </ion-col>
        
      </ion-row>
  
      <ion-row class="sticky-row">
        <ion-col >

          <ion-searchbar animated="true" placeholder="Procure as delícias da casa..."></ion-searchbar>
        </ion-col>
      </ion-row>
  
    </ion-toolbar>
  </ion-header>