<ion-content>
  <div class="upper">
    <div class="icon">
      <img id="logo" src="../../../assets/icon/logo_quadrado.png" (click)="openPage()">
    </div>
  </div>

  <div class="middle">
    <div class="box">
      <form (ngSubmit)="login()" [formGroup]="credentials" #loginForm='ngForm'>
        <p>Por favor logue-se em sua conta.</p>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" placeholder="Email" formControlName="email" name="email" required></ion-input>
          <ion-icon class="ion-align-self-center" slot="end" name="mail"></ion-icon>
        </ion-item>
        <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
          <span *ngIf="email.errors?.required">Email is required</span>
          <span *ngIf="email.errors?.email">Email is invalid</span>
        </div>

        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password" placeholder="Password" name="password" formControlName="password"></ion-input>
          <ion-icon class="ion-align-self-center" slot="end" name="eye-outline"></ion-icon>
        </ion-item>
        <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
          <span *ngIf="password.errors?.required">Password is required</span>
          <span *ngIf="password.errors?.minlength">Password needs to be 6 characters</span>
        </div>

        <ion-row>
          <ion-col size="8"></ion-col>
          <a id="forgetPassword" [routerLink]="['/forgot-password']" class="small-text">Esqueci minha senha</a>
        </ion-row>

        <div class="btn">
          <ion-button type="submit" expand="block" [disabled]="!credentials.valid">Log in</ion-button>
        </div>
        <div class="btn-logout">
          <ion-button (click)="logout()">Logout</ion-button>
        </div>
      </form>

      <p id="media">
        Cadastre-se abaixo:
      </p>

      <div class="btn">
        <ion-button [routerLink]="['/cadastro']">Cadastro</ion-button>
      </div>

    </div>

    <div class="navigator">
      <p>Don't have an Account ? Register Now</p>
    </div>
  </div>

</ion-content>
