.headerform{
    h3{
        text-align: center;
        color: black;
        font-weight: 500;
        font-size: 15px;
    }
}

.formlogin{
    padding: 10px;

    .btn{

        ion-button {
            --background: #F29F05;
        }
    }
}

.btn {
    display: flex;
    justify-content:center;
    margin-top: 2vh;

    ion-button {
        --background: #F29F05;
    }

}