<app-header></app-header>

<ion-content [fullscreen]="true">

  <div id="bannerHome">
    <img src="../../assets/imagebanners/bannher.jpg" alt="">
  </div>

  <div class="hearderMenu">
    <div class="imgCardapio">
      <img  src="../../assets/icon/burguer.png" alt="">
    </div>
  </div>

  <div class="containerOrder">
    <h3 >FAÇA SEU PEDIDO</h3>

    <div>
      <ion-button shape="round">COMPRAR AGORA</ion-button>
    </div>
  </div>   

  <div class="containnerCategory">
    
    <ion-grid>
      <ion-row>
        <ion-col>
          
          <ion-card>
            <img alt="Silhouette of mountains" src="../../../assets/products/caramel.jpg" />
            <ion-card-header>
              <ion-label >LANÇAMENTOS</ion-label>
              
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card>
            <img alt="Silhouette of mountains" src="../../../assets/products/caramel.jpg" />
            <ion-card-header>
              <ion-label >COMBOS</ion-label>
              
            </ion-card-header>
          </ion-card>

        
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          
          <ion-card>
            <img alt="Silhouette of mountains" src="../../../assets/products/caramel.jpg" />
            <ion-card-header>
              <ion-label >MAIS VENDIDOS</ion-label>
              
            </ion-card-header>
          </ion-card>
      
        </ion-col>

        <ion-col>

          <ion-card>
            <img alt="Silhouette of mountains" src="../../../assets/products/caramel.jpg" />
            <ion-card-header>
              <ion-label >BEBIDAS</ion-label>
              
            </ion-card-header>
          </ion-card>

        </ion-col>
        
      </ion-row>
      
    </ion-grid>

  </div>

</ion-content>
