.hearderMenu {
  display: flex;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  .imgCardapio{
    margin-top: 10px;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F29F05;
    border-radius: 50%;

    img{ 
      height: 50px;
      width: 50px;
    }
  }

}

.containerOrder{
  font-family: 'Inter', sans-serif;
  h3{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #D97904;
    font-family: 'Inter', sans-serif;
  }
  div{
    display: flex;
    justify-content: center;

    ion-button{
      font-size: 13px;
      font-weight: bold;
      --background: #BF0404;
      --color: #FFFFFF;
      
    }
  }

  

    ion-card-header{
      --background: #BF0404;
    
  }
  
}

ion-content {
	--padding-top: 40px;
}

ion-refresher {
	padding-top: calc(env(safe-area-inset-top) + 50px);
}

.location-visible {
	opacity: 1;
	transition: 0.5s;
}

.location-hidden {
	opacity: 0;
	transition: 0.5s;
}

.featured-slide{
  padding-left: 15vw;
}

.title-category{
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: -15px;

  .titleroute{

      text-align: center;

      .title-custom{
          color: #BF0404;
          font-weight:bold;
      }
      .line{
          margin-top: 5px;
          width: 200px;
          height: 2px;
          background: #F29F05;
          position: relative;
          margin-left: auto;
          margin-right: auto;
      }
  }
}

.box-compreja {
  padding-bottom: 15px;
}


.slidprod {

  margin-right: 10px;
  border: 1px solid #F29F05;
  border-radius: 20px;
  max-height: 200px;
  .prodimg{
    max-width: 150px;
  }

  .info{
    padding: 5px;
  }
}