<app-header></app-header>
<ion-content scrollEvents="true" ionScroll="onScroll($event)">


        <ion-toolbar class="title-category">
            <div class="titleroute">
                <ion-title class="title-custom" slot="start">Categorias</ion-title>
                <div class="line"></div>
            </div>
        </ion-toolbar>

	  
	<!--Seção dos sub-menus-->
	<br>
	<ion-slides [options]="catSlideOpts">
		<ion-slide *ngFor="let cat of categories">
			
			<img [src]="cat.img" routerLink="/categorias/{{cat.title}}"/>
		</ion-slide>
	</ion-slides>
	<br>

	<!--Seção dos  banners com palavras-->
	<ion-slides [options]="highlightSlideOpts">
		<ion-slide *ngFor="let h of highlights">
			<img [src]="h.img" />
		</ion-slide>
	</ion-slides>

	<!--Carrosel das imagens grandes de novidades-->
	<br>

	<ion-toolbar class="title-category">
		<div class="titleroute">
			<ion-title class="title-custom" slot="start">Novidades e Mais Pedidos</ion-title>
			<div class="line"></div>
		</div>
	</ion-toolbar>
	<br>

	<ion-slides [options]="featuredSlideOpts">
		<ion-slide *ngFor="let prod of produto"  class="featured-slide" routerLink="/detalhes" class="slidprod">
			<img [src]="prod.img" (click)="openPage(prod.id)" class="prodimg"/>
			<div class="info">
				<ion-text color="dark"><b>{{prod.nome }}</b></ion-text>
				<p><ion-icon name="cash" color="secondary"></ion-icon>
				<ion-text color="secondary"> {{ prod.preco | currency:'R$' }} </ion-text></p>
				<p>{{ prod.sobre }}</p>
			</div>
		</ion-slide>
	</ion-slides>


	<br>
	<br>


	<div class="box-compreja">
		<div class="hearderMenu">
			<div class="imgCardapio">
				<img src="../../assets/icon/burguer.png" alt="">
			</div>
		</div>

		<div class="containerOrder">
			<h3>FAÇA SEU PEDIDO</h3>

			<div>
				<ion-button shape="round">COMPRAR AGORA</ion-button>
			</div>
		</div>

	</div>

</ion-content>

<router-outlet></router-outlet>