<ion-header>
	<ion-toolbar color="light">
		<ion-buttons slot="start">
			<ion-button fill="solid" shape="round" color="light" (click)="openPage()">
				<ion-icon slot="icon-only" name="arrow-back" color="primary"></ion-icon>
			</ion-button>
		</ion-buttons>
	<ng-container *ngIf="produto">
		<ion-title>{{ produto[0].nome }}</ion-title>
	</ng-container>
		<ion-buttons slot="end">
			<ion-button fill="solid" shape="round" color="light">
				<ion-icon slot="icon-only" name="share-outline" color="primary"></ion-icon>
			</ion-button>
			<ion-button fill="solid" shape="round" color="light">
				<ion-icon slot="icon-only" name="search-outline" color="primary"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content
	[fullscreen]="true"
	scrollEvents="true"
	(ionScroll)="onScroll($event)"
	[appParallax]="img"
></ion-content>

<ion-content [fullscreen]="true" scrollEvents="true" (ionScroll)="onScroll($event)">
	<div #img class="header-image" [style.background-image]="'url(' + data?.img + ')'"></div>

	<ion-header collapse="condense" class="ion-no-border">
		<ion-toolbar color="light">
			<ion-title size="large">{{ produto[0].nome }}</ion-title>
		</ion-toolbar>
	</ion-header>

	<div *ngIf="produto">
		<ion-row>
			<ion-col size="12" class="light-bg ion-padding">
				<ion-badge color="danger">
					<ion-icon name="pricetag-outline"></ion-icon>
					Oferta do dia
				</ion-badge>
			</ion-col>
			<ion-col size="12" class="ion-no-padding">
				<ion-item lines="full">
					<ion-label class="ion-text-wrap"> {{ produto[0].sobre }} </ion-label>
				</ion-item>
			</ion-col>
		</ion-row>
	</div>

	<div *ngIf="data" class="ion-padding">
		Após o pedido ser feito não fazemos mudanças no mesmo.
	</div>
  
  <ion-list *ngFor="let entry of data?.food">
    <ion-list-header>
      <ion-label>{{ entry.category}}</ion-label>
    </ion-list-header>
    <ion-row *ngFor="let meal of entry.meals" class="ion-padding meal-row">
      <ion-col size="8" class="border-bottom">
        <ion-label>
          {{ meal.name }}
          <p>{{ meal.info }}</p>
        </ion-label>
        <ion-text color="dark"><b>{{ meal.price | currency:'R$' }}</b></ion-text>
      </ion-col>
      <ion-col size="4" class="border-bottom">
        <div class="meal-image" [style.background-image]="'url(' + meal.img + ')'"></div>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
<router-outlet></router-outlet>