<app-header></app-header>

<ion-content>
    <ion-header>
        <ion-toolbar class="title-category">
            <div class="titleroute">
                <ion-title class="title-custom" slot="start">CARDAPIO</ion-title>
                <div class="line"></div>
            </div>
        </ion-toolbar>
      </ion-header>

      <div *ngFor="let cat of categories">

        <div class="titleroute">
            <ion-title class="title-custom2" >{{cat.title}}</ion-title>
            <div class="line"></div>
        </div>
        <div>
            <ion-grid>
                <ion-row *ngFor="let product of filterProductsByCategory(cat.title) ">
                    <ion-col>
    
                        <ion-card>
                            <img [src]="product.img" (click)="openPage(product.id)" class="prodimg"/>
                        <ion-card-header>
                            <ion-label class="titleprod">{{ product.nome }}</ion-label>
                            <p><strong>Preço:</strong> {{ product.preco | currency:'R$'}}</p>
                            <p><strong>Descrição:</strong> {{ product.sobre }}</p>
                        </ion-card-header>
                        </ion-card>
            
                    </ion-col>
                
                </ion-row>
            </ion-grid>
          </div>
      </div>
</ion-content>
