<app-header></app-header>

<ion-content>
<div class="boxsobre">
    <img src="../../../assets/home/hamburgueria-2.jpg" alt="">

    <div class="textsobre">
        <ion-label>
            A Hamburgueria do Davi'a burguer é 100% artesanal! O Hambúrguer, a cebola, o molho... Tudo é feito com o máximo de carinho e os melhores ingredientes. A variedade também é nosso forte. Com um amplo cardápio, temos opções que vão de hambúrgueres, sobremesas, batatas, combos e muito mais! Funcionando via delivery, o Davi'a burguer se destaca pelo bom atendimento e o mais importante, o sabor!
        </ion-label>
    </div>

    <div class="containerOrder">
        <div>
            <ion-button shape="round">Peça já no delivery</ion-button>
        </div>
    </div>

    <div class="box-compreja">
		<div class="hearderMenu">
			<div class="imgCardapio">
				<ion-icon name="location-outline"></ion-icon>
			</div>
		</div>

		<div class="containerOrder">
			<h3>Rio praia shopping</h3>

			<div>
				<ion-button shape="round">Ver mapa</ion-button>
			</div>
		</div>

	</div>
</div>
</ion-content>
