.hearderCardapio {
  display: flex;
  justify-content: center;

  .imgCardapio{
    margin-top: 10px;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F29F05;
    border-radius: 50%;

    img{ 
      height: 50px;
      width: 50px;
    }
  }

}